
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Tajawal:wght@400;700&display=swap" rel="stylesheet">

<style>
  .page__hero--overlay {
    background-image: url('{{ "/assets/images/header-bg.jpg" | relative_url }}');
    background-size: cover;
    background-position: center center;
    height: 700px;
  }
</style>

<style>
  html[lang="ar"] ul,
  html[lang="ar"] ol {
    direction: rtl;
    text-align: right;
    padding-right: 2rem;
    padding-left: 0;
  }

  html[lang="ar"] li {
    direction: rtl;
    text-align: right;
  }
</style>

<style>
  html[lang="ar"] ol,
  html[lang="ar"] ul {
    direction: rtl;
    text-align: right;
    padding-right: 2rem;
    padding-left: 0 !important;
    list-style-position: inside;
  }

  html[lang="ar"] ol li,
  html[lang="ar"] ul li {
    direction: rtl;
    text-align: right;
  }

  html[lang="ar"] ol {
    counter-reset: arabic-counter;
  }

  html[lang="ar"] ol li {
    counter-increment: arabic-counter;
    list-style: none;
    position: relative;
  }

  html[lang="ar"] ol li::before {
    content: counter(arabic-counter) ". ";
    position: relative;
    margin-left: 0.5em;
    font-weight: bold;
  }
</style>


