---
layout: default
---

{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}

<div id="main" role="main">
  <div class="archive">
    <h1 class="page__title" lang="ar">{{ page.title }}</h1>

    {% for year in postsByYear %}
      <h2>{{ year.name }}</h2>
      <ul>
        {% for post in year.items %}
          <li>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            <span class="post-date">({{ post.date | date: "%d-%m-%Y" }})</span>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}

  </div>
</div>

